<%- include('./includes/head.ejs') %>
    <div class="container-fluid">

        <!-- Page Heading -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary mb-2">കൊടുക്കാനുള്ളത്
                </h6>
                <a href="" class="btn btn-primary">Purchase</a>
                <a href="" class="btn btn-primary">Sales</a>
                <a href="" class="btn btn-primary">Detailed Purchase</a>
                <a href="" class="btn btn-primary">Detailed Sales</a>
                <a href="" class="btn btn-primary">Payments</a>
                <a href="" style="float:right" class="btn btn-danger">Filter table</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Seller/Buyer</th>
                                <th>Bags</th>
                                <th>Kilogram</th>
                                <th>Price</th>
                                <th>Type</th>
                                <th>Total amount</th>
                                <th>Amount paid</th>
                                <th>Pending amount</th>
                                <th>Submit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form id="buyerform" action="/detailedbuyerdata" method="POST">
                                <tr>
                                    <td><input tabindex="1" name="date" class="form-control" type="date" id=""></td>
                                    <td><input class="p-1 form-control" style="width: 200px;" tabIndex="2" type="text" name="buyer" id=""></td>
                                    <td><input class="p-1 form-control" style="width: 100px;" tabIndex="3" type="number" step=".01" name="bags" id="bags"></td>
                                    <td><input class="form-control" tabIndex="4" type="number" step=".01" name="kilogram" style="width: 125px;" id="kilogram"></td>
                                    <td><input class="p-1 form-control" tabIndex="5" type="number" step=".01" style="width: 125px;" name="price" id="price"></td>
                                    <td id="total"></td>
                                    <td><input class="p-1 form-control" style="width: 150px;" tabIndex="6" type="number" step=".01" name="paid" id="paid"></td>
                                    <td id="remaining"></td>
                                    <td>
                                        <button form="buyerform" tabIndex="7" class="btn btn-primary" type="submit">Submit</button></td>

                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Seller/Buyer</th>
                                <th>Type</th>
                                <th>Bags</th>
                                <th>Kilogram</th>
                                <th>Prize</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Remaining</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Seller/Buyer</th>
                                <th>Type</th>
                                <th>Bags</th>
                                <th>Kilogram</th>
                                <th>Prize</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Remaining</th>
                                <th>Edit</th>

                            </tr>
                        </tfoot>
                        <tbody>


                            <%for (var i =0; i < seller.length i++){%>
                                <tr>
                                    <td>
                                        <%= moment(doc[i].deal.date).format( 'DD-MMM-YYYY') %>

                                    </td>
                                    <td>
                                        <a href="/individualpurchase/<%=doc._id%>">
                                            <%=doc[i].name%>
                                        </a>
                                    </td>
                                    <td>
                                        Purchase
                                    </td>
                                    <td>
                                        <%=doc[i].deal.bags%>
                                    </td>
                                    <td>
                                        <%=doc[i].deal.kilogram%>
                                    </td>
                                    <td>
                                        <%=doc[i].deal.price%>
                                    </td>
                                    <td>
                                        <%=doc[i].deal.total%>
                                    </td>
                                    <td>
                                        <%=doc[i].deal.paid%>
                                    </td>
                                    <td>
                                        <%=doc[i].deal.remaining%>
                                    </td>
                                    <td><a href="" class="btn btn-primary">edit</a></td>
                                </tr>
                                <%}%>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">

        <!-- Page Heading -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">കിട്ടാനുള്ളത്
                </h6>
                <a href="" style="float: right;" class="btn btn-primary">Detailed</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Seller</th>
                                <th>Bags</th>
                                <th>Kilogram</th>
                                <th>Price</th>
                                <th>Total amount</th>
                                <th>Amount paid</th>
                                <th>Pending amount</th>
                                <th>Submit</th>
                            </tr>
                        </thead>
                        <form id="buyerform" action="/buyerform" method="POST">
                            <tr>
                                <td><input tabindex="10" name="date" class="form-control" type="date" id=""></td>
                                <td><input class="p-1 form-control" style="width: 200px;" tabIndex="11" type="text" name="buyer" id=""></td>

                                <td><input class="p-1 form-control" style="width: 100px;" tabIndex="12" type="number" step=".01" name="bags" id="bags"></td>
                                <td><input class="form-control" tabIndex="13" type="number" step=".01" name="kilogram" style="width: 125px;" id="kilogram-2"></td>
                                <td><input class="p-1 form-control" tabIndex="14" type="number" step=".01" style="width: 125px;" name="price" id="price-2"></td>
                                <td id="total-2"></td>
                                <td><input class="p-1 form-control" style="width: 150px;" tabIndex="15" type="number" step=".01" name="paid" id="paid-2"></td>
                                <td id="remaining-2"></td>
                                <td><button form="buyerform" tabIndex="16" class="btn btn-primary" type="submit">Submit</button></td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered" id="MyTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Seller</th>
                                <th>Bags</th>
                                <th>Kilogram</th>
                                <th>Prize</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Remaining</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Seller</th>
                                <th>Bags</th>
                                <th>Kilogram</th>
                                <th>Prize</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Remaining</th>
                                <th>Edit</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            <%for (let doc of buyer){%>
                                <tr>
                                    <td>
                                        <%= moment(doc.deal.date).format( 'DD-MMM-YYYY') %>

                                    </td>
                                    <td>
                                        <a href="/individualsales/<%=doc._id%>">
                                            <%=doc.name%>
                                        </a>

                                    </td>
                                    <td>
                                        <%=doc.deal.bags%>
                                    </td>
                                    <td>
                                        <%=doc.deal.kilogram%>
                                    </td>
                                    <td>
                                        <%=doc.deal.price%>
                                    </td>
                                    <td>
                                        <%=doc.deal.total%>
                                    </td>
                                    <td>
                                        <%=doc.deal.paid%>
                                    </td>
                                    <td>
                                        <%=doc.deal.remaining%>
                                    </td>
                                    <td><a href="" class="btn btn-primary">edit</a></td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(document).on('keypress', 'input,select', function(e) {
            if (e.which == 13) {
                e.preventDefault();
                var $next = $('[tabIndex=' + (+this.tabIndex + 1) + ']');
                console.log($next.length);
                if (!$next.length) {
                    $next = $('[tabIndex=1]');
                }
                $next.focus().click();
            }
        });
    </script>
    <script type="text/javascript">
        $(".form-control").on("change", function() {
            var kilogram = document.getElementById('kilogram').value;
            var price = document.getElementById('price').value;
            var total = kilogram * price;
            var paid = document.getElementById('paid').value;
            var remaining = total - paid;
            document.getElementById('total').innerText = total;
            document.getElementById('remaining').innerText = remaining;
            var kilogram2 = document.getElementById('kilogram-2').value;
            var price2 = document.getElementById('price-2').value;
            var total2 = kilogram2 * price2;
            var paid2 = document.getElementById('paid-2').value;
            var remaining2 = total2 - paid2;
            document.getElementById('total-2').innerText = total2;
            document.getElementById('remaining-2').innerText = remaining2;
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#MyTable').DataTable({
                initComplete: function() {
                    this.api().columns().every(function() {
                        var column = this;

                    });
                }
            });
        });
    </script>
    <%- include('./includes/end.ejs') %>