<%- include('./includes/head.ejs') %>
    <div class="container-fluid">

        <!-- Page Heading -->

        <div class="container">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Add Loaders kooli</h1>
                                    <% if (errorMessage) { %>
                                        <p class="text-center">
                                            <%= errorMessage %>
                                        </p>

                                        </p>
                                        <% } %>
                                </div>
                                <form action="/employee/addkooli" method="POST" id="addloading">
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Date</label>
                                            <input tabindex="2" required type="date" value="<%=todaydate%>" name="date" class="form-control form-control-user" id="exampleFirstName" placeholder="Date">
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Seller or buyer</label>
                                            <input tabindex="3" required type="text" name="seller" autocomplete="OFF" list="loadsname" class="form-control form-control-user" id="exampleFirstName" placeholder="Seller or Buyer name">
                                        </div>
                                        <datalist id="loadsname">
                                            <%for(let docs of loads){%>
                                            <option value="<%=docs%>">
                                            <%}%>
                                          </datalist>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Product</label>
                                            <select tabindex="4" required class="form-control form-control-user" name="type" id="">
                                               <option value="coffee">Coffee</option>
                                               <option value="pepper">Pepper</option>
                                               <option value="ginger">Ginger</option>
                                           </select>
                                        </div>

                                    </div>
                                    <div class="form-group ">
                                        <label for="">Kooli</label>
                                        <input tabindex="5" required type="number" step=".01" name="kooli" value="8" class="form-control form-control-user col-sm-12 mb-3 mb-sm-0" id="exampleInputEmail" placeholder="kooli">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Bags</label>
                                            <input tabindex="6" required type="number" step=".01" name="bags" class="form-control form-control-user" id="exampleFirstName" placeholder="No of Bags">
                                        </div>

                                    </div>

                                    <datalist id="browsers">
                                        <%for(let docs of doc){%>
                                        <option value="<%=docs.name%>">
                                        <%}%>
                                      </datalist>
                                    <div id="newRow"></div>


                                    <input type="button" tabindex="7" value="Add worker" id="addRow" class="btn btn-success mb-3"></input>
                                    <button style="display: none;" id="submitbtn" type="submit" form="addloading" class="btn btn-primary btn-user btn-block col-sm-12 mb-3 mb-sm-0 ">
            Add Kooli
          </button>

                                    <hr>
                                    <a href="/employee/viewkooli" class="btn btn-info btn-user btn-block col-sm-12 mb-3 mb-sm-0 ">
           View loads
          </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <!-- /.container-fluid -->

    </div>
    <script>
        // add row

        $("#addRow ").click(function() {
            var html = '';
            html += '<div id="inputFormRow" class="form-group row">';
            html += '<div class="col-sm-12 mb-3 mb-sm-0 input-group">';
            html += '<input id="newworker" required type="text" name="workername" class="form-control form-control-user " placeholder="Enter Worker name" list="browsers"  autocomplete="off">';
            html += '<div class="input-group-append">';
            html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
            html += '</div>';
            html += '</div>';

            $('#newRow').append(html);
            $('#submitbtn').show();
        });
        $(document).on('click', '#removeRow', function() {
            $(this).closest('#inputFormRow').remove();
        });

        $(function() {
            var tabindex = 1;
            $('input,select').each(function() {
                if (this.type != "hidden") {
                    var $input = $(this);
                    $input.attr("tabindex", tabindex);
                    tabindex++;
                }
            });
        });
        // remove row
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#submitbtn').click(function() {
                $('#submitbtn').hide();

            });
        });
    </script>
    <%- include('./includes/end.ejs') %>