<%- include('./includes/head.ejs') %>


    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                <%if(!payment){
                   %><span id="headertext">Loari rents</span>
                    <%}else{%><span id="headertext">Rent payments</span>
                        <%}%>

                            <%if(individual){%>
                                of
                                <%=id%>
                                    <%}%>
            </h1>

            <h6>

                From
                <%=moment(start).format( 'DD-MM-YYYY')%> to
                    <%=moment(end).format( 'DD-MM-YYYY')%>

            </h6>
        </div>
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Rent</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalsum"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%if(currentuser.isadminlogged){%>
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Paid </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpaid"></span></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Remaining amount </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="remainingamount"></span></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4" style="<%if(payment){%>display: none;<%}%>" id="loarirenttable">
            <div class="card-header py-3">
                <a class="float-right btn btn-danger ml-2" href="" href="" data-toggle="modal" data-target="#filtermodel">Filter</a>
                <%if(currentuser.isadminlogged){%> <button class="btn btn-success float-right" id="paymentbutton">View Payments</button>
                    <%if(!individual){%> <a class="btn btn-primary mr-2" href="/lorilist">Drivers List</a>
                        <%}else{%>
                            <a class="btn btn-primary" href="/addlorirent">Full Loari rent</a>
                            <%}%>
                                <%}%>
                                    <br>
                                    <br>
                                    <%if(currentuser.isadminlogged){%>
                                        <form action="" method="GET" id="checkword">
                                            <div id="inputFormRow" class="form-group row">


                                                <div class="col-sm-12 mb-3 mb-sm-0 input-group" id="seller_buyer">
                                                    <select class="form-control form-control-user js-example-basic-single" id="list_sellers" onchange="check_user()">
                                                                    <option value="">Search names</option>
                                                                    <%for(let docs of loari){%>
                                                                        <option value="<%=docs%>"><%=docs%></option>
                                                                      <%}%>
                                                                 </select>

                                                    <div class="input-group-append">
                                                        <input type="submit" class="btn btn-primary" value="Search Loari"></input>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                        <%}%>
            </div>
            <%if(currentuser.isadminlogged){%>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="" class="table" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <%if(!individual){%>
                                        <th>Lori number</th>
                                        <%}%>

                                            <th>Load to</th>
                                            <th>Rent</th>
                                            <th>Content</th>
                                            <th>Driver</th>

                                </tr>
                            </thead>
                            <tbody>

                                <form id="adloari" action="/addlorirent" method="POST">
                                    <tr>
                                        <td><input class="p-1 form-control" style="width: 160px;" tabIndex="1" required type="date" value="<%=todaydate%>" placeholder="User name" name="date"></td>
                                        <%if(individual){%>
                                            <input type="hidden" name="type" value="individual">
                                            <input type="hidden" name="loari" value="<%=id%>">
                                            <%}else{%>
                                                <td><input required class="p-1 form-control" style="width: 200px;" list="loarinumbers" tabIndex="2" autocomplete="off" type="text" name="loari"></td>
                                                <datalist id="loarinumbers">
                                                <%for(let docs of loari){%>
                                                    <option value="<%=docs%>">
                                                    <%}%>
                                            </datalist>
                                                <%}%>


                                                    <td><input required class="p-1 form-control" style="width: 200px;" tabIndex="3" type="text" name="loadto"></td>
                                                    <td><input required class="p-1 form-control" tabIndex="4" type="number" style="width: 125px;" name="rent"></td>
                                                    <td><input class="form-control" tabIndex="5" type="text" name="content" style="width: 150px;"></td>
                                                    <td><input class="p-1 form-control" tabIndex="6" type="text" style="width: 125px;" name="driver"></td>


                                                    <td>
                                                        <button form="adloari" id="submit" tabIndex="7" class="btn btn-success">Submit</button>
                                                        <div id="button-spinner" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>
                                                    </td>
                                    </tr>
                                </form>

                            </tbody>
                        </table>
                    </div>
                </div>
                <%}%>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <%if(!individual){%>
                                            <th>Lori number</th>
                                            <%}%>

                                                <th>Load to</th>
                                                <th>Rent</th>
                                                <th>Content</th>
                                                <th>Driver</th>
                                                <%if(currentuser.isadminlogged){%>
                                                    <th>Monitor</th>
                                                    <%}%>

                                                        <th>Edit</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <% var total = 0;
                            for(var i = 0; i < docs.length; i++){
                                total = parseInt(total+docs[i].trips.rent)  %>
                                        <tr>
                                            <td>
                                                <%=moment(docs[i].trips.date).format( 'DD-MMM-YYYY')%>

                                            </td>

                                            <%if(!individual){%>
                                                <td>
                                                    <a href="/addindividuallorirent/<%=docs[i].registration%>">
                                                        <%=docs[i].registration%>
                                                    </a>

                                                </td>
                                                <%}%>


                                                    <td>
                                                        <%=docs[i].trips.loadto%>
                                                    </td>
                                                    <td>
                                                        <%=docs[i].trips.rent%>
                                                    </td>
                                                    <td>
                                                        <%=docs[i].trips.product%>
                                                    </td>
                                                    <td>
                                                        <%=docs[i].trips.driver%>
                                                    </td>
                                                    <%if(currentuser.isadminlogged){%>
                                                        <td>
                                                            <%=docs[i].trips.monitor%>
                                                        </td>
                                                        <%}%>
                                                            <%if(currentuser.isadminlogged | currentuser.user.name == docs[i].trips.monitor){%>
                                                                <%if(!individual){%>
                                                                    <td><a href="/deleteloarirent/<%=docs[i].registration%>/<%=docs[i].trips._id%>/all" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                                    <%}else{%>
                                                                        <td><a href="/deleteloarirent/<%=docs[i].registration%>/<%=docs[i].trips._id%>/individual" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                                        <%}%>
                                                                            <%}else{%>
                                                                                <td></td>
                                                                                <%}%>
                                        </tr>
                                        <%}%>

                                </tbody>

                                <tr>
                                    <th>Date</th>
                                    <%if(!individual){%>
                                        <th>Lori number</th>
                                        <%}%>


                                            <th>Total Rent = </th>
                                            <th colspan="3" id="total" class="badge-info">

                                            </th>

                                            <%if(currentuser.isadminlogged){%>
                                                <th>Monitor</th>
                                                <%}%>

                                                    <th>Edit</th>

                                </tr>

                            </table>
                        </div>
                    </div>
        </div>
        <%if(currentuser.isadminlogged){%>
            <div class="card shadow mb-4" style="<%if(!payment){%>display: none;<%}%>" id="paymenttable">
                <div class="card-header py-3">
                    <a class="float-right btn btn-danger ml-2" href="" href="" data-toggle="modal" data-target="#filtermodel">Filter</a>
                    <button class="btn btn-success float-right" id="loadbutton">View Loads</button>
                    <%if(!individual){%> <a class="btn btn-primary" href="/lorilist">Drivers List </a>
                        <%}else{%>
                            <a class="btn btn-primary" href="/addlorirent">Full Loari rent</a>
                            <%}%>
                                <br>
                                <br>


                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <%if(!individual){%>
                                        <th>Lori number</th>
                                        <%}%>

                                            <th>Amount</th>
                                            <th>Hint</th>

                                </tr>
                            </thead>
                            <tbody>

                                <form id="adloaris" action="/addloripayment" method="POST">
                                    <tr>
                                        <td><input class="p-1 form-control" style="width: 160px;" tabIndex="55" required type="date" value="<%=todaydate%>" placeholder="User name" name="date"></td>
                                        <%if(individual){%>
                                            <input type="hidden" name="type" value="individual">
                                            <input type="hidden" name="loari" value="<%=id%>">
                                            <%}else{%>
                                                <td><input required class="p-1 form-control" style="width: 200px;" list="loarinumbers" tabIndex="56" autocomplete="off" type="text" name="loari"></td>
                                                <datalist id="loarinumbers">
                                                <%for(let docs of loari){%>
                                                    <option value="<%=docs%>">
                                                    <%}%>
                                            </datalist>
                                                <%}%>



                                                    <td><input required class="p-1 form-control" tabIndex="57" type="number" step=".01" style="width: 200px;" name="amount"></td>

                                                    <td><input class="p-1 form-control" tabIndex="58" type="text" style="width: 200px;" name="hint"></td>


                                                    <td>
                                                        <button form="adloaris" tabIndex="59" class="btn btn-success" id="submits">Submit</button>
                                                        <div id="button-spinners" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>
                                                    </td>
                                    </tr>
                                </form>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="MyTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <%if(!individual){%>
                                        <th>Lori number</th>
                                        <%}%>

                                            <th>Amount</th>
                                            <th>Hint</th>

                                            <th>Edit</th>

                                </tr>
                            </thead>

                            <tbody>
                                <% var totalpaid = 0;
                            for(var i = 0; i < dics.length; i++){
                                totalpaid = parseInt(totalpaid)+parseInt(dics[i].paid.amount)  %>
                                    <tr>
                                        <td>
                                            <%=moment(dics[i].paid.date).format( 'DD-MMM-YYYY')%>

                                        </td>

                                        <%if(!individual){%>
                                            <td>
                                                <a href="/addindividuallorirent/<%=dics[i].registration%>">
                                                    <%=dics[i].registration%>
                                                </a>

                                            </td>
                                            <%}%>


                                                <td>
                                                    <%=dics[i].paid.amount%>
                                                </td>
                                                <td>
                                                    <%=dics[i].paid.hint%>
                                                </td>

                                                <%if(!individual){%>
                                                    <td><a href="/deleteloaripayment/<%=dics[i].registration%>/<%=dics[i].paid._id%>/all" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                    <%}else{%>
                                                        <td><a href="/deleteloaripayment/<%=dics[i].registration%>/<%=dics[i].paid._id%>/individual" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                        <%}%>
                                    </tr>
                                    <%}%>

                            </tbody>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Lori number</th>
                                    <%}%>



                                        <th id="totalpaids" class="badge-info">

                                        </th>

                                        <th>Hint</th>
                                        <th>Edit</th>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <%}%>
    </div>

    <div class="modal fade" id="filtermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filter dates</h5>
                    <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <form id="form1" action="<%if(individual){%>/fliterindividualaddlorirent<%}else{%>/fliteraddlorirent<%}%>" method="POST">
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">From date</label>
                                <input type="date" value="<%=todaydate%>" class="form-control form-control-user" id="exampleFirstName" name="sdate" placeholder="Date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">To date</label>
                                <input type="date" value="<%=todaydate%>" name="edate" class="form-control form-control-user" id="exampleFirstName" placeholder="Date">
                            </div>


                        </div>

                        <%if(individual){%>
                            <input type="hidden" name="id" value="<%=id%>">
                            <%}%>
                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" form="form1">Apply filter</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({

                "ordering": false,

            });

            total = <%=total%>;

            '<%if(currentuser.isadminlogged){%>'
            totalpaid = <%=totalpaid%>;
            remaining = parseInt(total - totalpaid);
            document.getElementById('totalpaid').innerText = totalpaid.toLocaleString();

            document.getElementById('totalpaids').innerHTML = totalpaid.toLocaleString();

            document.getElementById('remainingamount').innerText = remaining.toLocaleString()
            '<%}%>'
            document.getElementById('total').innerHTML = total.toLocaleString();
            document.getElementById('totalsum').innerText = total.toLocaleString();

        });

        function check_user() {
            var st = document.getElementById("list_sellers").value;

            if (!st) {

            } else {

                var x = document.getElementById("checkword")
                x.action = "/addindividuallorirent/" + st
            }
        }
        $("#paymentbutton").click(function() {
            $('#loarirenttable').hide();
            $('#paymenttable').show();
            $('#headertext').text("Rent Payments");
        })
        $("#loadbutton").click(function() {
            $('#loarirenttable').show();
            $('#paymenttable').hide();
            $('#headertext').text("Loari rents");
        })
        $(document).ready(function() {
            $('#MyTable').DataTable({
                initComplete: function() {
                    this.api().columns().every(function() {
                        var column = this;

                    });
                },
                "ordering": false,
            });
        });
        $(document).ready(function() {
            $('#submit').click(function() {
                $('#submit').hide();
                $('#button-spinner').show();

            });
            $('#submits').click(function() {
                $('#submits').hide();
                $('#button-spinners').show();

            });
        });
    </script>
    <%- include('./includes/end.ejs') %>