<%- include('./includes/head.ejs') %>


    <div class="container-fluid">

        <!-- Page Heading -->

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"> List of Employees
            </h1>


        </div>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a class="btn btn-primary " href="/paymentcontroller/salary">Salary Manage</a>

                <% if (errorMessage) { %>
                    <h5 class="text-center">
                        <%= errorMessage %>
                    </h5>

                    </p>
                    <% } %>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Duty</th>
                                <th>Minimum salary</th>
                                <th>Submit
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <form id="ademployee" action="/employee/postaddemployee" method="POST">
                                <tr>

                                    <td><input autofocus required class="p-1 form-control" tabIndex="2" type="text" name="name"></td>


                                    <td><select required class="p-1 form-control" tabIndex="3" name="duty"> <option value="loader">Loader</option> 
                                        <option value="operator">Operator</option> <option value="manager">Manager</option>
                                    <option value="driver">Driver</option>
                                    <option value="assistant">Assistant</option></select></td>

                                    <td><input class="p-1 form-control" tabIndex="4" type="number" name="salary"></td>

                                    <td>
                                        <button form="ademployee" tabIndex="5" type="submit" class="btn btn-success" id="submit">Submit</button>
                                        <div id="button-spinner" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>
                                    </td>
                                </tr>
                            </form>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total Salary</th>
                                <th>Amount paid</th>
                                <th>Remaining settlemet</th>
                                <th>Edit</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Total Salary</th>
                                <th>Amount paid</th>
                                <th>Remaining settlemet</th>
                                <th>Edit</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            <%for(var i = 0; i < docs.length; i++){%>
                                <tr>
                                    <td>
                                        <a href="/paymentcontroller/indivdualsalary/<%=docs[i].name%>">
                                            <%=docs[i].name%>
                                        </a>

                                    </td>
                                    <td>
                                        <%=docs[i].totalsalary.toLocaleString()%>
                                    </td>
                                    <td>
                                        <%=docs[i].totalpaid.toLocaleString()%>
                                    </td>
                                    <td>
                                        <%= (parseInt(docs[i].totalsalary) - parseInt(docs[i].totalpaid)).toLocaleString()  %>
                                    </td>


                                    <td>
                                        <a href="#" onclick="edit('<%=i%>')" class=" btn btn-primary ">edit</a></td>
                                </tr>
                                <%}%>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span id="editcustomers"></span> <span id="edittype"></span></h5>
                    <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <form id="editform" action="/employee/Editemployee" method="POST">
                        <div class="form-group row">

                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Name</label>
                                <input type="text" tabindex="43" class="form-control form-control-user" id="editname" name="names">
                            </div>

                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Salary</label>
                                <input type="number" tabindex="48" class="form-control form-control-user price-control" id="editsalary" name="salary">
                            </div>

                            <input type="hidden" value="" name="objectid" id="objectid">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <a id="deletebutton" class="btn btn-danger" onclick="return confirm('are you sure you want to delete this?')">Delete</a>

                    <button tabindex="51" form="editform" class="btn btn-primary" type="submit">Edit Deal</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        function edit(i) {

            var obj = <%- JSON.stringify(docs) %>;

            document.getElementById("deletebutton").href = "/employee/deleteemployee/" + obj[i]._id

            // document.getElementById("deletebutton").href = "/deletesales/ " + obj.id + "/ " + obj[i].deal.id + "/indivdual ";


            // document.getElementById('editcustomers').innerText = obj.name;
            document.getElementById('editname').value = obj[i].name
            document.getElementById('editsalary').value = obj[i].salary

            document.getElementById('objectid').value = obj[i]._id;


            $('#editmodel').modal('show')

        }
        $(document).ready(function() {
            $('#submit').click(function() {
                $('#submit').hide();
                $('#button-spinner').show();

            });
            $('#dataTable').DataTable({

                "ordering": false,

            });
        });
    </script>
    <%- include('./includes/end.ejs') %>