<%- include('./includes/head.ejs') %>
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                Loadings
                <%if(!payment){%><span id="loadingpayment"></span>
                    <%}else{%><span id="loadingpayment">Payments</span>
                        <%}%> Details
            </h1>

            <h6>

                From
                <%=moment(start).format( 'DD-MM-YYYY')%> to
                    <%=moment(end).format( 'DD-MM-YYYY')%>

            </h6>
        </div>
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total sack load</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalbagpurchase"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-save fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Work payment</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpurchaseamount"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" style="text-decoration: none;" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Amount Paid</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpaid"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>


            <!-- Earnings (Monthly) Card Example -->

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Balance</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalamountremaining"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DataTales Example -->
        <div class="card shadow mb-4" style="<%if(payment){%>display: none;<%}%>" id="loadingdeatils">
            <div class="card-header py-3">
                <a href="/employee/viewkooli" class="btn btn-primary" id="">Complete Loads</a>
                <a href="/loaderslist" class="btn btn-primary" id="">Loaders list</a>
                <a href="" class="btn btn-danger float-right ml-2" data-toggle="modal" data-target="#filtermodel">Filter</a>
                <button class="btn btn-success float-right" id="paymentbutton">View payments</button>


                <br>
                <br>
                <form action="" method="GET" id="checkword">
                    <div id="inputFormRow" class="form-group row">

                        <div class="col-sm-12 mb-3 mb-sm-0 input-group" id="loader_ind">

                            <select class="form-control form-control-user js-example-basic-single" id="list_loaders" onchange="check_user()">
                                <option value="">Search names</option>
                                <%for(let docs of loaders){%>
                                    <option value="<%=docs%>"><%=docs%></option>
                                  <%}%>
                             </select>
                            <div class="input-group-append">

                                <input type="submit" class="btn btn-danger" value="Search loader"></input>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name of loader</th>
                                <th>Load of</th>
                                <th>Bags</th>
                                <th>Kooli</th>
                                <th>Hint</th>
                                <th>Monitor</th>
                                <th>Submit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form id="kooliform" action="/employee/addloaderkooli" method="POST">
                                <tr>
                                    <td><input autofocus required tabindex="20" name="date" class="form-control" value="<%=todaydate%>" type="date" id="date"></td>
                                    <td><input required class="form-control" type="text" name="id" tabindex="21" list="namess" autocomplete="off"></td>
                                    <td><input required class="form-control" tabIndex="22" type="text" name="loadof"></td>
                                    <td><input required class="form-control" tabIndex="23" type="number" name="bags"></td>

                                    <td><input required class="form-control" tabIndex="24" type="number" name="kooli"></td>
                                    <td><input class="form-control" tabIndex="25" type="text" name="hint" id="hint"></td>
                                    <td><input class="form-control" tabIndex="26" type="text" name="monitor" id="monitor"></td>


                                    <td>
                                        <button form="kooliform" tabindex="27" class="btn btn-primary" id="submit" type="submit">Submit</button>
                                        <div id="button-spinner" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>

                                        <input required type="hidden" name="category" value="all">
                                    </td>

                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Loader</th>
                                <th>Load of</th>
                                <th>Bags</th>
                                <th>kooli</th>
                                <th>hint</th>
                                <%if(currentuser.isadminlogged){%>
                                    <th>Monitor</th>
                                    <th>Delete</th>
                                    <%}%>



                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <tr>
                                    <th>Date</th>
                                    <th>Loader</th>
                                    <th>Load of</th>
                                    <th>Bags</th>
                                    <th>kooli</th>
                                    <th>hint</th>
                                    <%if(currentuser.isadminlogged){%>
                                        <th>Monitor</th>
                                        <th>Delete</th>
                                        <%}%>



                                </tr>
                        </tfoot>
                        <tbody>

                            <%
                                var bags = 0;
                                var kooli =0;
                                for (let doc of docs){
                                    bags = parseInt(bags) + parseInt(doc.work.numberofsack);
                                    kooli= parseInt(kooli) + parseInt(doc.work.kooli);
                                    %>
                                <tr>
                                    <td>
                                        <%= moment(doc.work.date).format( 'DD-MMM-YYYY') %>
                                    </td>
                                    <td>
                                        <a href="/employee/indidualkooli/<%=doc.name%>">
                                            <%=doc.name%>
                                        </a>

                                    </td>
                                    <td>
                                        <a href="/employee/viewkooli/<%=doc.work.loadof%>">
                                            <%=doc.work.loadof%>
                                        </a>

                                    </td>
                                    <td>
                                        <%=doc.work.numberofsack%>
                                    </td>
                                    <td>
                                        <%=parseInt(doc.work.kooli)%>
                                    </td>
                                    <td>
                                        <%=doc.work.product%>
                                    </td>
                                    <%if(currentuser.isadminlogged){%>
                                        <td>
                                            <%=doc.work.monitor%>
                                        </td>
                                        <td>
                                            <a onclick="return confirm('are you sure?')" href="/employee/deleteindividualkooli/<%=doc.work._id%>/<%=doc.name%>/all" class="btn btn-danger">Delete</a>
                                        </td>
                                        <%}%>


                                </tr>
                                <%}%>



                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <div class="card shadow mb-4" style="<%if(!payment){%>display: none;<%}%>" id="paymentdetails">
            <div class="card-header py-3">
                <a href="/loaderslist" class="btn btn-primary" id="">Loaders list</a>
                <a href="" class="btn btn-danger float-right ml-2" data-toggle="modal" data-target="#filtermodel">Filter</a>
                <button class="btn btn-success float-right" id="loadingbutton">View Loading Works</button>

                <br>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>hint</th>
                                <th>Submit</th>

                            </tr>
                        </thead>
                        <tbody>
                            <form id="buyerform" action="/employee/addloaderpayment" method="POST">
                                <tr>
                                    <td><input required tabindex="1" name="date" class="form-control" value="<%=todaydate%>" type="date" id="date"></td>
                                    <td><input autofocus autocomplete="off" required tabindex="1" name="name" class="form-control" value="" type="text" list="namess" id="id"></td>
                                    <datalist id="namess">  <%for(let docs of loaders){%>
                                        <option value="<%=docs%>">
                                      <%}%></datalist>
                                    <td><input required class="form-control" tabIndex="2" type="number" name="amount"></td>
                                    <td><input class="form-control" tabIndex="3" type="text" name="hint" id="hint"></td>


                                    <td>
                                        <button form="buyerform" tabindex="4" class="btn btn-primary" id="submit" type="submit">Submit</button>
                                        <div id="button-spinner" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>

                                    </td>

                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="MyTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Amount</th>

                                <th>hint</th>
                                <th>Edit</th>


                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Amount</th>

                                    <th>hint</th>
                                    <th>Edit</th>


                                </tr>
                        </tfoot>
                        <tbody>

                            <% paids = 0;
                                for (let dic of dics){
                                    paids = parseInt(paids)+parseInt(dic.payed.amount);
                                    %>
                                <tr>
                                    <td>
                                        <%= moment(dic.payed.date).format( 'DD-MMM-YYYY') %>
                                    </td>
                                    <td>
                                        <a href="/employee/indidualkooli/<%=dic.name%>">
                                            <%=dic.name%>
                                        </a>
                                    </td>
                                    <td>
                                        <%=dic.payed.amount%>
                                    </td>
                                    <td>
                                        <%=dic.payed.hint%>
                                    </td>
                                    <td>
                                        <a onclick="return confirm('are you sure?')" href="/employee/deletepayment/<%=dic.payed._id%>/<%=dic.name%>/all" class="btn btn-danger">Delete</a></td>

                                </tr>
                                <%}
                                
                                %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="filtermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filter dates</h5>
                    <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <form id="form1" action="/employee/filterloaderspayment" method="POST">
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">From date</label>
                                <input type="date" value="<%=todaydate%>" class="form-control form-control-user" id="exampleFirstName" name="sdate" placeholder="Date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">To date</label>
                                <input type="date" value="<%=todaydate%>" name="edate" class="form-control form-control-user" id="exampleFirstName" placeholder="Date">
                            </div>


                        </div>


                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" form="form1">Apply filter</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        $("#paymentbutton").click(function() {
            $('#paymentdetails').show();
            $('#loadingdeatils').hide();
            $('#loadingpayment').text("Payment");
        })
        $("#loadingbutton").click(function() {
            $('#loadingpayment').text("");
            $('#paymentdetails').hide();
            $('#loadingdeatils').show();
        })
    </script>
    <script>
        $(document).ready(function() {
            var bags = <%= bags %>;
            var kooli = <%= kooli%>;
            var paids = <%= paids %>;

            var remaining = parseInt(kooli - paids)
            document.getElementById('totalbagpurchase').innerText = bags.toLocaleString();
            document.getElementById('totalpurchaseamount').innerText = kooli.toLocaleString()
            document.getElementById('totalpaid').innerText = paids.toLocaleString()
            document.getElementById('totalamountremaining').innerText = remaining.toLocaleString()

        });
        $(document).ready(function() {
            $('#submit').click(function() {
                $('#submit').hide();
                $('#button-spinner').show();

            });
        });
        $(document).ready(function() {
            $('#dataTable').DataTable({

                "ordering": false,

            });
        });


        function check_user() {
            var st = document.getElementById("list_loaders").value;

            if (!st) {

            } else {
                var x = document.getElementById("checkword")
                x.action = "/employee/indidualkooli/" + st
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $('#MyTable').DataTable({
                initComplete: function() {
                    this.api().columns().every(function() {
                        var column = this;

                    });
                },
                "ordering": false,
            });
        });
    </script>

    <%- include('./includes/end.ejs') %>