<%- include('./includes/head.ejs') %>
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                <%if(!recieved){%><span id="headertext">Amount Paid</span>
                    <%}else{%><span id="headertext">Amount Recieved</span>
                        <%}%>
                            <%if(individual){%>
                                to/from
                                <%=id%>
                                    <%}%>
            </h1>

            <h6>
                <%if(filter){%>
                    From
                    <%=moment(start).format( 'DD-MM-YYYY')%> to
                        <%=moment(end).format( 'DD-MM-YYYY')%>
                            <%}%>
            </h6>
        </div>
        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total amount paid</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpaid"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-save fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total amount Recieved </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalrecieved"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total amount Difference </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="amountdifference"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Earnings (Monthly) Card Example -->


        </div>

        <!-- Content Row -->

        <!-- Page Heading -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4" id="paidlist" style="<%if(recieved){%>display: none;<%}%>">
            <div class="card-header py-3">

                <%if(individual){%>
                    <a id="" href="/getpayments" class="btn btn-primary">Payments record</a>
                    <%}else{%>
                        <a id="" href="/payeelist" class="btn btn-primary">Payee list</a>
                        <%}%>
                            <a href="" data-toggle="modal" data-target="#filtermodel" style="float:right" class="btn btn-danger">Filter table</a>
                            <button id="paidbutton" href="#" class="btn btn-success float-right mr-2">Recivied</button>

            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Name</th>
                                    <%}%>
                                        <th>Amount</th>

                                        <th>Hint</th>
                                        <th>Submit</th>

                            </tr>
                        </thead>
                        <tbody>

                            <form id="buyerform" autocomplete="off" action="/getpayments" method="POST">
                                <tr>
                                    <td><input autofocus required tabindex="3" style="width: 175px;" name="date" class="form-control" id="date" type="date" value="<%=todaydate%>" id="date"></td>
                                    <%if(!individual){%>
                                        <td>


                                            <input required class="p-1 form-control" style="width: 175px;" tabIndex="4" autocomplete="off" list="sellernames" type="text" name="name">
                                        </td>
                                        <datalist id="sellernames">
                                            <%for(let docs of names){%>
                                                <option value="<%=docs%>">
                                                <%}%>
                                        </datalist>
                                        <%}else{%> <input type="hidden" name="type" value="individual">
                                            <input type="hidden" name="name" value="<%=id%>">
                                            <%}%>



                                                <td><input required class="form-control price-control" tabIndex="5" type="number" name="amount" style="width: 175px;"></td>

                                                <td><input tabIndex="6" type="text" step=".01" style="width: 200px;" class="p-1 form-control" name="hint"></td>

                                                <input type="hidden" name="paymenttype" value="all">
                                                <td> <button form="buyerform" tabIndex="7" class="btn btn-primary" id="submit" type="submit">Submit</button>
                                                    <div id="button-spinner" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>
                                                </td>

                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Name</th>
                                    <%}%>
                                        <th>Amount</th>

                                        <th>Hint</th>

                                        <th>submit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Total</th>
                                    <%}%>
                                        <th id="paidamount"></th>

                                        <th>Hint</th>

                                        <th>submit</th>

                            </tr>
                        </tfoot>
                        <tbody>

                            <% 
                            var total = 0;
                    
                            for (var i = 0; i < dics.length; i++){
                       
                                total = parseInt(total) + parseInt(dics[i].paid.amount);
                             %>


                                <tr id="purchase" class="purchase">

                                    <td>
                                        <%= moment(dics[i].paid.date).format( 'DD-MMM-YYYY') %>

                                    </td>
                                    <%if(!individual){%>
                                        <td>
                                            <a href="/individualpayments/<%=dics[i].name%>">
                                                <%=dics[i].name%>
                                            </a>
                                        </td>
                                        <%}%>
                                            <td>
                                                <%=dics[i].paid.amount%>
                                            </td>

                                            <td class="totalpurchaseamount">

                                                <%=dics[i].paid.hint%>


                                            </td>


                                            <%if(!individual){%>

                                                <td><a href="/deletepaid/<%=dics[i].name%>/<%=dics[i].paid._id%>/all" class="btn btn-danger" onclick="return confirm('are you sure')">Delete</a></td>
                                                <%}else{%>
                                                    <td><a href="/deletepaid/<%=dics[i].name%>/<%=dics[i].paid._id%>/individual" class="btn btn-danger" onclick="return confirm('are you sure')">Delete</a></td>
                                                    <%}%>

                                </tr>
                                <%}%>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4" style="<%if(!recieved){%>display: none;<%}%>" id="paymentslist">
            <div class="card-header py-3">

                <%if(individual){%>
                    <a id="" href="/getpayments" class="btn btn-success">Payments record</a>
                    <%}else{%>
                        <a id="" href="#" class="btn btn-success">Payee list</a>
                        <%}%>

                            <a href="" data-toggle="modal" data-target="#filtermodel" style="float:right" class="btn btn-danger">Filter table</a>

                            <a href="#" id="paymentbutton" class="btn btn-success float-right mr-2">Paid</a>
            </div>
            <div class="card-header py-3">

                <form>
                    <div class="col-sm-12 mb-3 mb-sm-0 input-group">
                        <input required type="text" id="mylistofsellers" class="form-control form-control-user" oninput="check_user()" placeholder="Search for names" list="sellernames" autocomplete="off">
                        <div class="input-group-append">
                            <a href="" id="check" type="button" class="btn btn-danger">View Individual accounts</a>
                        </div>

                        <datalist id="sellernames">
                            <%for(let docs of names){%>
                                <option value="<%=docs%>">
                                <%}%>
                        </datalist>
                    </div>
                </form>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Name</th>
                                    <%}%>
                                        <th>Amount</th>

                                        <th>Hint</th>

                                        <td>Submit</td>
                            </tr>
                        </thead>
                        <tbody>
                            <form autocomplete="off" id="buyerforms" action="/paidamountform" method="POST">
                                <tr>
                                    <td><input required tabindex="" name="date" class="form-control" style="width: 175px;" id="date" type="date" value="<%=todaydate%>" id="date"></td>
                                    <%if(!individual){%>
                                        <td>


                                            <input required class="p-1 form-control" style="width: 175px;" tabIndex="4" autocomplete="off" list="sellernames" type="text" name="name">
                                        </td>
                                        <datalist id="sellernames">
                                            <%for(let docs of names){%>
                                                <option value="<%=docs%>">
                                                <%}%>
                                        </datalist>
                                        <%}else{%> <input type="hidden" name="type" value="individual">
                                            <input type="hidden" name="name" value="<%=id%>">
                                            <%}%>


                                                <td><input required class="form-control price-control" tabIndex="5" type="number" name="amount" style="width: 200px;"></td>
                                                <td><input class="p-1 form-control price-control" tabIndex="6" type="text" step=".01" style="width: 200px;" name="hint"></td>



                                                <td> <button form="buyerforms" tabIndex="7" class="btn btn-primary" id="submits" type="submit">Submit</button>
                                                    <div id="button-spinner" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>
                                                </td>

                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Name</th>
                                    <%}%>
                                        <th>Amount</th>

                                        <th>Hint</th>

                                        <th>submit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Total</th>
                                    <%}%>
                                        <th colspan="" id="totalpayment"></th>

                                        <th>Hint</th>

                                        <th>submit</th>

                            </tr>
                        </tfoot>
                        <tbody>

                            <% 
                            var totalpayment = 0;
                    
                            for (var i = 0; i < docs.length; i++){
                       
                                totalpayment = parseInt(totalpayment) + parseInt(docs[i].payment.amount);
                             %>


                                <tr>

                                    <td>
                                        <%= moment(docs[i].payment.date).format( 'DD-MMM-YYYY') %>

                                    </td>
                                    <%if(!individual){%>
                                        <td>
                                            <a href="/individualpayments/<%=docs[i].name%>">
                                                <%=docs[i].name%>
                                            </a>
                                        </td>
                                        <%}%>

                                            <td>
                                                <%=docs[i].payment.amount.toLocaleString()%>
                                            </td>

                                            <td>

                                                <%=docs[i].payment.hint%>


                                            </td>


                                            <%if(!individual){%>
                                                <td><a href="/deletepayment/<%=docs[i].name%>/<%=docs[i].payment._id%>/all" class="btn btn-danger" onclick="return confirm('are you sure')">Delete</a></td>
                                                <%}else{%>
                                                    <td><a href="/deletepayment/<%=docs[i].name%>/<%=docs[i].payment._id%>/individual" class="btn btn-danger" onclick="return confirm('are you sure')">Delete</a></td>
                                                    <%}%>
                                </tr>
                                <%}%>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="filtermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filter dates</h5>
                    <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <form id="form1" action="<%if(individual){%>/filterindividualpayments<%}else{%>/filterpayments<%}%>" method="POST">
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">From date</label>
                                <input type="date" value="<%=todaydate%>" class="form-control form-control-user" id="exampleFirstName" name="sdate" placeholder="Date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">To date</label>
                                <input type="date" value="<%=todaydate%>" name="edate" class="form-control form-control-user" id="exampleFirstName" placeholder="Date">
                            </div>
                            <input type="hidden" name="type" value="filter">

                        </div>




                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" form="form1">Apply filter</button>
                </div>
            </div>

        </div>
    </div>



    <div class="floatingButtonWrap">
        <div class="floatingButtonInner">
            <a href="#" class="floatingButton">
                <i class="fa fa-plus icon-default"></i>
            </a>
            <ul class="floatingMenu">

                <li>
                    <a href="/paymentcontroller/salary" class="btn btn-primary">Salary Manage</a>

                </li>

                <li> <a href="/addlorirent" class="btn btn-primary">Loari rent </a>

                </li>
                <li> <a href="/utility" class="btn btn-primary">Utility bills </a>

                </li>
                <li> <a href="/paymentcontroller/borrows" class="btn btn-primary">Borrows & Returns  </a>

                </li>
                <li> <a href="/employee/viewkooli" class="btn btn-primary">Loaders payment  </a>

                </li>


            </ul>
        </div>
    </div>

    <script type="text/javascript">
        function check_user() {
            var name = document.getElementById("mylistofsellers").value;
            var x = document.getElementById("check")
            if (!name) {

            } else {

                x.href = "/individualpayments/" + name
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $('#MyTable').DataTable({
                initComplete: function() {
                    this.api().columns().every(function() {
                        var column = this;

                    });
                }
            });
            $('#editmodel').on('shown.bs.modal', function() {
                $('#editdate').focus();
            })
            $('#editmodel').on('hide.bs.modal', function() {
                $('#date').focus();
            })
        });
    </script>
    <script>
    </script>
    <script>
        $(document).ready(function() {
            $("#paidbutton").click(function() {
                $('#paymentslist').show();
                $('#paidlist').hide();
                $('#headertext').text("Amount Recieved");

            })
            $("#paymentbutton").click(function() {
                $('#paymentslist').hide();
                $('#paidlist').show();
                $('#headertext').text("Amount Paid");
            })

            var totalpaymentamount = <%= total%>;
            var totalpaid = <%= totalpayment%>;
            var rem = 0;
            rem = parseInt(totalpaymentamount) - parseInt(totalpaid);
            document.getElementById("totalpayment").innerHTML = totalpaid.toLocaleString()
            document.getElementById("totalrecieved").innerHTML = totalpaid.toLocaleString()
            document.getElementById("amountdifference").innerHTML = rem.toLocaleString()
            document.getElementById("paidamount").innerHTML = totalpaymentamount.toLocaleString()
            document.getElementById("totalpaid").innerHTML = totalpaymentamount.toLocaleString()
        });
        $(document).ready(function() {
            $('#dataTable').DataTable({

                "ordering": false,

            });
        });
        $(document).ready(function() {
            $('#submit').click(function() {
                $('#submit').hide();
                $('#button-spinner').show();

            });
        });
    </script>

    <%- include('./includes/end.ejs') %>