<%- include('./includes/head.ejs') %>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Purchase management</h1>
            <h6>
                <%=moment(start).format( 'DD-MM-YYYY')%> to
                    <%=moment(end).format( 'DD-MM-YYYY')%>
            </h6>

        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Kg purchased</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpurchasekg"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-save fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total amount </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpurchaseamount"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total paid </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpurchasepaid"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>


            <!-- Earnings (Monthly) Card Example -->

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total remaining</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpurchaseremaining"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <!-- Page Heading -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <% if (errorMessage) { %>
                    <h5 class="text-center">
                        <%= errorMessage %>
                    </h5>

                    </p>
                    <% } %>
                        <a href="/salesmanagement" class="btn btn-primary">Detailed Sales</a>
                        <a href="/accountmanagement" class="btn btn-primary">Detailed Report</a>

                        <a href="" data-toggle="modal" data-target="#filtermodel" style="float:right" class="btn btn-danger">Filter table</a>
                        <a href="" style="float:right" class="btn btn-success">Daily book</a>
            </div>
            <div class="card-header py-3">

                <form>
                    <div class="col-sm-12 mb-3 mb-sm-0 input-group">
                        <input required type="text" id="mylistofsellers" class="form-control form-control-user" oninput="check_user()" placeholder="Search for names" list="sellernames" autocomplete="off">
                        <div class="input-group-append">
                            <a href="" id="check" type="button" class="btn btn-danger">View Individual accounts</a>
                        </div>

                        <datalist id="sellernames">
                            <%for(let docs of names){%>
                                <option value="<%=docs.name%>">
                                <%}%>
                        </datalist>
                    </div>
                </form>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Seller</th>
                                <th>Kilogram</th>
                                <th>Price</th>
                                <th>Total amount</th>
                                <th>Amount paid</th>
                                <th>Through</th>
                                <th>Hint</th>
                                <th>submit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form id="buyerform" action="/detailedbuyerdata" method="POST">
                                <tr>
                                    <td><input autofocus required tabindex="3" name="date" class="form-control" id="date" type="date" value="<%=todaydate%>" id="date"></td>
                                    <td><input required class="p-1 form-control" style="width: 200px;" tabIndex="4" autocomplete="off" list="sellernames" type="text" name="buyer" id="customer">
                                    </td>
                                    <datalist id="sellernames">
                                        <%for(let docs of names){%>
                                            <option value="<%=docs.name%>">
                                            <%}%>
                                    </datalist>

                                    <td><input required class="form-control price-control" tabIndex="5" type="number" step=".01" name="kilogram" style="width: 125px;" id="kilogram"></td>
                                    <td><input required class="p-1 form-control price-control" tabIndex="6" type="number" step=".01" style="width: 125px;" name="price" id="price"></td>
                                    <td><input required class="p-1" tabIndex="7" type="number" step=".01" style="width: 150px;" name="total" id="total"></td>
                                    <td><input required class="p-1 form-control" style="width: 150px;" tabIndex="8" type="number" step=".01" name="paid" id="paid"></td>
                                    <td><select id="through" required class="p-1 form-control" style="width: 100px;" name="through">
                                        <option value="bank">Bank</option>
                                        <option value="quatity">Quatity</option>
                                    </select></td>
                                    <td><input class="p-1 form-control" style="width: 100px;" tabIndex="9" type="text" step=".01" name="hint" id="hint"></td>
                                    <input type="hidden" name="type" value="seperate">
                                    <td> <button form="buyerform" tabIndex="10" class="btn btn-primary" id="submit" type="submit">Submit</button>
                                        <div id="button-spinner" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>
                                    </td>

                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Seller</th>

                                <th>Kilogram</th>
                                <th>Prize</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Remaining</th>
                                <th>Hint</th>
                                <th>Through</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Seller</th>

                                <th id="totalkg"></th>
                                <th>Prize</th>
                                <th id="totalamount"></th>
                                <th id="totalpaid"></th>
                                <th id="totalremaining"></th>
                                <th>Through</th>
                                <th>Hint</th>
                                <th>Edit</th>

                            </tr>
                        </tfoot>
                        <tbody>

                            <% var bag = 0;
                            var total = 0;
                            var paid = 0;
                            for (var i = 0; i < seller.length; i++){
                                bag = bag + seller[i].deal.kilogram;
                                total = total + seller[i].deal.total;
                                paid = paid + seller[i].deal.paid; %>
                                <%if(seller[i].deal.through == 'quatity'){%>
                                    <tr id="purchase" style="color: rgb(201, 119, 119);" class="purchase">
                                        <%}else{%>
                                            <tr id="purchase" class="purchase">
                                                <%}%>
                                                    <td>
                                                        <%= moment(seller[i].deal.date).format( 'DD-MMM-YYYY') %>

                                                    </td>
                                                    <td>
                                                        <a href="/individualpurchase/<%=seller[i].name%>">
                                                            <%=seller[i].name%>
                                                        </a>
                                                    </td>

                                                    <td class="<%if(seller[i].deal.through == 'quatity'){%><%}else{%>totalpurchasekg<%}%>">
                                                        <%=seller[i].deal.kilogram.toLocaleString()%>
                                                    </td>
                                                    <td class="">
                                                        <%=seller[i].deal.price%>
                                                    </td>
                                                    <td class="totalpurchaseamount">

                                                        <%=seller[i].deal.total.toLocaleString()%>


                                                    </td>
                                                    <td style="color: red;" class="totalpurchasepaid">
                                                        <%=seller[i].deal.paid.toLocaleString()%>
                                                    </td>
                                                    <td class="">
                                                        <%=seller[i].deal.Remaining.toLocaleString()%>
                                                    </td>
                                                    <td class="">
                                                        <%=seller[i].deal.through%>
                                                    </td>
                                                    <td class="">
                                                        <%=seller[i].deal.hint%>
                                                    </td>


                                                    <td><a href="#" onclick="editpurchase('<%=i%>')" class="btn btn-primary">edit</a>

                                            </tr>
                                            <%}%>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="filtermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filter dates</h5>
                    <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <form id="form1" action="/purchasefilter" method="POST">
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">From date</label>
                                <input type="date" value="<%=todaydate%>" class="form-control form-control-user" id="exampleFirstName" name="sdate" placeholder="Date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">To date</label>
                                <input type="date" value="<%=todaydate%>" name="edate" class="form-control form-control-user" id="exampleFirstName" placeholder="Date">
                            </div>
                            <input type="hidden" name="type" value="filter">

                        </div>




                    </form>
                    <form id="form2" action="/purchasefilter" method="POST" class="ml-1" style="float: left;">
                        <input type="hidden" name="type" value="2months"> <button type="submit" form="form2" class="btn btn-primary">2 months</button>
                    </form>
                    <form id="form3" class="ml-1" style="float: left;" action="/purchasefilter" method="POST">
                        <input type="hidden" name="type" value="5months"><button type="submit" form="form3" class="btn btn-primary">5 months</button>
                    </form>
                    <form id="form4" class="ml-1" style="float: left;" action="/purchasefilter" method="POST">
                        <input type="hidden" name="type" value="year"><button type="submit" form="form4" class="btn btn-primary">1 Year</button>
                    </form>
                    <form id="form5" class="ml-1" style="float: left;" action="/purchasefilter" method="POST">
                        <input type="hidden" name="type" value="all"> <button type="submit" form="form5" class="btn btn-primary">All records</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" form="form1">Apply filter</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span id="editcustomers"></span> <span id="edittype"></span></h5>
                    <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <form id="editform" action="/editorder" method="POST">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Date</label>
                                <input type="date" class="form-control form-control-user" id="editdate" tabindex="41" name="editdate">
                            </div>
                            <input type="hidden" value="purchase" class="form-control form-control-user" id="section" name="section">

                            <input type="hidden" class="form-control form-control-user" value="seperate" name="types">

                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Outumn</label>
                                <input type="number" tabindex="43" class="form-control form-control-user" id="editoutumn" step=".01" name="autumn">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Moisture</label>
                                <input type="number" tabindex="44" class="form-control form-control-user" id="editmoisture" step=".01" name="moisture">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Hint / careoff</label>
                                <input type="text" tabindex="45" class="form-control form-control-user" id="editcareoff" name="hint">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Bags</label>
                                <input type="number" tabindex="46" class="form-control form-control-user" id="editbags" name="editbags">
                            </div>

                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Kilogram</label>
                                <input type="number" tabindex="47" class="form-control form-control-user price-control" id="editkilogram" step=".01" name="editkilogram">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Prize</label>
                                <input type="number" tabindex="48" class="form-control form-control-user price-control" id="editprize" step=".01" name="editprize">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Total</label>
                                <input required type="number" tabindex="49" class="p-1" id="edittotal" step=".01" name="edittotal">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Paid</label>
                                <input required type="number" tabindex="50" class="form-control form-control-user" id="editpaid" name="editpaid">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Remaining</label>
                                <h5 id="editremaining"> </h5>
                            </div>
                            <input type="hidden" name="through" id="thre">

                            <input type="hidden" name="previoustotal" id="previoustotal">
                            <input type="hidden" name="previouspaid" id="previouspaid">
                            <input type="hidden" value="" name="arrayid" id="arrayid">
                            <input type="hidden" value="" name="objectid" id="objectid">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <a id="deletebutton" class="btn btn-danger" onclick="return confirm('are you sure you want to delete this?')">Delete</a>

                    <button tabindex="51" form="editform" class="btn btn-primary" type="submit">Edit Deal</button>
                </div>
            </div>

        </div>
    </div>

    <div class="floatingButtonWrap">
        <div class="floatingButtonInner">
            <a href="#" class="floatingButton">
                <i class="fa fa-plus icon-default"></i>
            </a>
            <ul class="floatingMenu">

                <li>
                    <a href="/accountmanagement" class="btn btn-primary">Detailed Sales and Purchase</a>

                </li>

                <li> <a href="/salesmanagement" class="btn btn-primary">Detailed Sales report</a>

                </li>

                <li>
                    <a href="#">Logout</a>
                </li>

            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(document).on('keypress', 'input,select', function(e) {
            if (e.which == 13) {
                e.preventDefault();
                var $next = $('[tabIndex=' + (+this.tabIndex + 1) + ']');
                console.log($next.length);
                if (!$next.length) {
                    $next = $('[tabIndex=1]');
                }
                $next.focus().click();
            }
        });
    </script>
    <script type="text/javascript">
        $(".price-control").on("change", function() {
            var kilogram = document.getElementById('kilogram').value;
            var price = document.getElementById('price').value;
            var total = parseInt(kilogram * price);


            document.getElementById('total').value = total;

        });
        $(".price-control").on("change", function() {
            var kilogram = document.getElementById('editkilogram').value;
            var price = document.getElementById('editprize').value;
            var paid = document.getElementById('editpaid').value;
            var total = parseInt(kilogram * price);
            document.getElementById('edittotal').value = total;
            console.log(parseInt(kilogram * price - paid))
            document.getElementById('editremaining').innerText = parseInt(kilogram * price - paid).toLocaleString();
        });
    </script>
    <script type="text/javascript">
        function editpurchase(i) {
            var obj = <%- JSON.stringify(seller) %>;

            document.getElementById("deletebutton").href = "/deletepurchase/" + obj[i]._id + "/" + obj[i].deal._id + "/seperate/" + obj[i].deal.total + "/" + obj[i].deal.paid;
            var today = moment(obj[i].deal.date).format('YYYY-MM-DD');
            document.getElementById("editdate").value = today;


            document.getElementById('editcustomers').innerText = obj[i].name;

            document.getElementById('editbags').value = obj[i].deal.bags;
            document.getElementById('editkilogram').value = obj[i].deal.kilogram;
            document.getElementById('edittotal').value = obj[i].deal.total;
            document.getElementById('editpaid').value = obj[i].deal.paid
            document.getElementById('editremaining').innerText = obj[i].deal.Remaining.toLocaleString();
            document.getElementById('objectid').value = obj[i]._id;
            document.getElementById('arrayid').value = obj[i].deal._id;
            document.getElementById('editoutumn').value = obj[i].deal.outumn;
            document.getElementById('editmoisture').value = obj[i].deal.moisture;
            document.getElementById('editcareoff').value = obj[i].deal.hint;
            document.getElementById('editprize').value = obj[i].deal.price;
            document.getElementById('previoustotal').value = obj[i].deal.total;
            document.getElementById('previouspaid').value = obj[i].deal.paid;
            document.getElementById('thre').value = obj[i].deal.through;
            $('#editmodel').modal('show')
        }

        function check_user() {
            var name = document.getElementById("mylistofsellers").value;
            var x = document.getElementById("check")
            x.href = "individualpurchase/" + name
        }
    </script>
    <script>
        $(document).ready(function() {
            $('#MyTable').DataTable({
                initComplete: function() {
                    this.api().columns().every(function() {
                        var column = this;

                    });
                }
            });
            $('#editmodel').on('shown.bs.modal', function() {
                $('#editdate').focus();
            })
            $('#editmodel').on('hide.bs.modal', function() {
                $('#date').focus();
            })
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#all').on('click', function() {
                $('.sales').show();
                $('.purchase').show();
            })
            $('#btnpurchase').on('click', function() {
                $('.sales').toggle();




            });
            $('#btnsales').on('click', function() {
                $('.purchase').toggle();



            });
        })
        $(document).ready(function() {


            var totalpurchaseamount = <%= total%>;
            var totalpurchasekg = <%= bag %>;
            var totalpurchasepaid = <%= paid %>;
            var totalpurchaseremaining = 0;
            totalpurchaseremaining = parseInt(totalpurchaseamount - totalpurchasepaid);

            document.getElementById('totalpurchaseamount').innerText = totalpurchaseamount.toLocaleString();
            document.getElementById('totalpurchasepaid').innerText = totalpurchasepaid.toLocaleString();
            document.getElementById('totalpurchaseremaining').innerText = totalpurchaseremaining.toLocaleString();
            document.getElementById('totalpurchasekg').innerText = totalpurchasekg.toLocaleString();
            document.getElementById('totalkg').innerHTML = totalpurchasekg.toLocaleString();
            document.getElementById('totalamount').innerHTML = totalpurchaseamount.toLocaleString();
            document.getElementById('totalpaid').innerHTML = totalpurchasepaid.toLocaleString();
            document.getElementById('totalremaining').innerHTML = totalpurchaseremaining.toLocaleString();


        });
        $(document).ready(function() {
            $('#dataTable').DataTable({

                "ordering": false,

            });
        });
        $(document).ready(function() {
            $('#submit').click(function() {
                $('#submit').hide();
                $('#button-spinner').show();

            });
        });
    </script>

    <%- include('./includes/end.ejs') %>