<%- include('./includes/head.ejs') %>


    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                <%if(!payment){%><span id="headertext">Salary Paid</span>
                    <%}else{%><span id="headertext">Salary Payment</span>
                        <%}%>

                            <%if(individual){%>
                                to/from
                                <%=id%>
                                    <%}%>
            </h1>

            <h6>
                <%if(filter){%>
                    From
                    <%=moment(start).format( 'DD-MM-YYYY')%> to
                        <%=moment(end).format( 'DD-MM-YYYY')%>
                            <%}%>
            </h6>
        </div>
        <!-- Page Heading -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Payment </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpaid"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Paid</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalsum"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Remaining amount </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="remainingamount"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%if(individual){%>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Active credit </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalpurchaseamount"></span></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4" id="loadingdeatils" style="<%if(payment){%>display: none;<%}%>">

            <div class="card-header py-3">

                <a class="float-right btn btn-danger ml-2" href="" href="" data-toggle="modal" data-target="#filtermodel">Filter</a>
                <button class="btn btn-success float-right" id="paymentbutton">View payments</button>
                <%if(!individual){%> <a class="btn btn-primary " href="/employee/Editemployee">Employee List</a>
                    <%}else{%>
                        <a class="btn btn-primary float-right mr-2" href="/paymentcontroller/salary">Complete Salary </a>
                        <%}%>

                            <br>
                            <br>
                            <form action="" method="GET" id="checkword">
                                <div id="inputFormRow" class="form-group row">


                                    <div class="col-sm-12 mb-3 mb-sm-0 input-group" id="seller_buyer">

                                        <select class="form-control form-control-user js-example-basic-single" id="list_sellers" onchange="check_user()">
                                            <option value="">Search names</option>
                                              <%for(let docs of borrevers){%>
                                                <option value="<%=docs%>"><%=docs%></option>
                                              <%}%>
                                         </select>

                                        <div class="input-group-append">
                                            <input type="submit" class="btn btn-primary" value="Search name"></input>
                                        </div>
                                    </div>

                                </div>
                            </form>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Name</th>
                                    <%}%>
                                        <th>Amount</tf>

                                            <th>Hint</th>
                                            <th>Submit</th>

                            </tr>
                        </thead>
                        <tbody>

                            <form id="utility" action="/paymentcontroller/salary" method="POST">
                                <tr>
                                    <td><input required tabindex="1" name="date" class="form-control" style="max-width: 175px;" type="date" value="<%=todaydate%>" id=""></td>
                                    <%if(!individual){%>
                                        <td>
                                            <input required autofocus autocomplete="off" class="p-1 form-control" style="max-width: 200px;" tabIndex="2" list="names" type="text" name="billto" id="paidname">
                                            <datalist id="names">
                                                <%for(let docs of borrevers){%>
                                                    <option value="<%=docs%>">
                                                    <%}%>
                                            </datalist>
                                        </td>


                                        <%}else{%> <input type="hidden" name="type" value="individual">
                                            <input type="hidden" name="billto" value="<%=id%>">
                                            <%}%>
                                                <td><input required class="form-control" tabIndex="3" type="number" step=".01" name="amount" style="max-width: 175px;"></td>

                                                <td>
                                                    <input class="p-1 form-control" style="max-width: 200px;" tabIndex="4" type="text" name="payment" id=""></td>


                                                <td><button form="utility" tabIndex="5" class="btn btn-primary" id="submit" type="submit">Submit</button>
                                                    <div id="button-spinner" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>
                                                </td>


                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Name</th>
                                    <%}%>
                                        <th>Amount</th>

                                        <th>Hint</th>
                                        <th>Edit</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>

                                <%if(!individual){%>
                                    <th>Date</th>
                                    <th>Total amount paid</th>
                                    <th colspan="2" id="total" class="badge-info">


                                    </th>

                                    <%}else{%>
                                        <th>Total amount paid</th>
                                        <th colspan="2" id="total" class="badge-info">

                                        </th>
                                        <%}%>

                                            <th>Edit</th>

                            </tr>
                        </tfoot>
                        <tbody>

                            <%
                            var total = 0;
                            for(var i=0; i < docs.length; i++){
                                total = parseInt(total)+parseInt(docs[i].detail.amount)
                                %>
                                <tr>
                                    <td>
                                        <%= moment(docs[i].detail.date).format( 'DD-MMM-YYYY') %>

                                    </td>
                                    <%if(!individual){%>
                                        <td>
                                            <a href="/paymentcontroller/indivdualsalary/<%=docs[i].name%>">
                                                <%=docs[i].name%>
                                            </a>
                                        </td>
                                        <%}%>

                                            <td>
                                                <%=docs[i].detail.amount%>
                                            </td>

                                            <td>
                                                <%=docs[i].detail.payment%>
                                            </td>
                                            <%if(!individual){%>
                                                <td><a href="/paymentcontroller/deletesalary/<%=docs[i]._id%>/<%=docs[i].detail._id%>/salarymanage" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                <%}else{%>
                                                    <td><a href="/paymentcontroller/deletesalary/<%=docs[i]._id%>/<%=docs[i].detail._id%>/salary_<%=id%>" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                    <%}%>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>




        </div>
        <div class="card shadow mb-4" style="<%if(!payment){%>display: none;<%}%>" id="paymentdetails">
            <div class="card-header py-3">
                <a class="float-right btn btn-danger ml-2" href="" href="" data-toggle="modal" data-target="#filtermodel">Filter</a>
                <button class="btn btn-success float-right" id="loadingbutton">View Paid</button>

                <h5 class="">Salary Payments
                    <%if(individual){%>
                        of
                        <%=id%>
                            <%}%>
                                <%if(filter){%>
                                    from
                                    <%=moment(start).format( 'DD-MM-YYYY')%> to
                                        <%=moment(end).format( 'DD-MM-YYYY')%>
                                            <%}%>
                                                </h6>
                                                <br>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Name</th>
                                    <%}%>
                                        <th>Amount</th>
                                        <th>hint</th>
                                        <th>Submit</th>
                            </tr>
                        </thead>
                        <tbody>

                            <form id="buyerform" action="/paymentcontroller/addsalary" method="POST">
                                <tr>
                                    <td><input required tabindex="1" name="date" class="form-control" style="max-width: 175px;" value="<%=todaydate%>" type="date" id="date"></td>
                                    <%if(!individual){%>
                                        <td><input required autofocus autocomplete="off" class="p-1 form-control" style="max-width: 200px;" tabIndex="2" type="text" name="id" list="names" id="paymentname"></td>

                                        <%}else{%> <input type="hidden" name="type" value="individual">
                                            <input type="hidden" name="id" value="<%=id%>">
                                            <%}%>
                                                <td><input autofocus required class="form-control" tabIndex="3" type="number" step=".01" name="amount" style="max-width: 175px;" id="kilogram"></td>
                                                <td><input class="form-control" tabIndex="4" type="text" step=".01" style="max-width: 200px;" name="hint" id="hint"></td>


                                                <td>
                                                    <button form="buyerform" tabindex="5" class="btn btn-primary" id="submits" type="submit">Submit</button>
                                                    <div id="button-spinners" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>

                                                </td>

                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="MyTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Name</th>
                                    <%}%>
                                        <th>Amount</th>

                                        <th>hint</th>
                                        <th>Edit</th>


                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <tr>
                                    <%if(!individual){%>
                                        <th>Date</th>
                                        <th>Total Payment </th>
                                        <th colspan="2" id="totalpaidamount" class="badge-info">


                                        </th>

                                        <%}else{%>
                                            <th>Total Payment </th>
                                            <th colspan="2" id="totalpaidamount" class="badge-info">

                                            </th>
                                            <%}%>


                                                <th>Edit</th>


                                </tr>
                        </tfoot>
                        <tbody>

                            <% payment = 0;
                            for (let dic of dics){
                                payment =parseInt(payment)+parseInt(dic.payment.amount);
                                %>
                                <tr>
                                    <td>
                                        <%= moment(dic.payment.date).format( 'DD-MMM-YYYY') %>
                                    </td>
                                    <%if(!individual){%>
                                        <td>
                                            <a href="/paymentcontroller/indivdualsalary/<%=dic.name%>">
                                                <%=dic.name%>
                                            </a>
                                        </td>

                                        <%}%>
                                            <td>
                                                <%=dic.payment.amount%>
                                            </td>
                                            <td>
                                                <%=dic.payment.hint%>
                                            </td>
                                            <%if(!individual){%>
                                                <td><a href="/paymentcontroller/deletesalarypayment/<%=dic._id%>/<%=dic.payment._id%>/salarymanage" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                <%}else{%>
                                                    <td><a href="/paymentcontroller/deletesalarypayment/<%=dic._id%>/<%=dic.payment._id%>/salary_<%=id%>" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                    <%}%>

                                </tr>
                                <%}%>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="filtermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Filter dates</h5>
                        <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form id="form1" action="<%if(individual){%>/paymentcontroller/indivdualsalaryfilter<%}else{%>/paymentcontroller/filtersalary<%}%>" method="POST">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="">From date</label>
                                    <input type="date" value="<%=todaydate%>" class="form-control form-control-user" id="exampleFirstName" name="sdate" placeholder="Date">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="">To date</label>
                                    <input type="date" value="<%=todaydate%>" name="edate" class="form-control form-control-user" id="exampleFirstName" placeholder="Date">
                                </div>


                            </div>

                            <%if(individual){%>
                                <input type="hidden" name="id" value="<%=id%>">
                                <%}%>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit" form="form1">Apply filter</button>
                    </div>
                </div>

            </div>
        </div>
        <script>
            $("#paymentbutton").click(function() {

                $('#paymentname').focus();

                $('#paymentdetails').show();
                $('#loadingdeatils').hide();
                $('#headertext').text("Salary Payments");

            })
            $("#loadingbutton").click(function() {
                $('#headertext').text("Salary Paid");
                $('#paidname').focus();
                $('#paymentdetails').hide();
                $('#loadingdeatils').show();
            })
        </script>
        <script>
            $(document).ready(function() {
                var total = <%= total%>;
                var payment = <%= payment %>;

                remaining = parseInt(payment - total);

                document.getElementById('totalsum').innerText = total.toLocaleString();
                document.getElementById('totalpaid').innerText = payment.toLocaleString();
                document.getElementById('remainingamount').innerText = remaining.toLocaleString();

                // document.getElementById('totalpurchasekg').innerText = totalpurchasekg.toLocaleString();
                $('#dataTable').DataTable({

                    "ordering": false,

                });

                document.getElementById('total').innerHTML = total.toLocaleString();
                document.getElementById('totalpaidamount').innerHTML = payment.toLocaleString();
            });

            function check_user() {
                var st = document.getElementById("list_sellers").value;

                if (!st) {

                } else {
                    var x = document.getElementById("checkword")
                    x.action = "/paymentcontroller/indivdualsalary/" + st
                }

            }
            $(document).ready(function() {
                $('#submit').click(function() {
                    $('#submit').hide();
                    $('#button-spinner').show();

                });
                $('#submits').click(function() {
                    $('#submits').hide();
                    $('#button-spinners').show();

                });
            });
            $(document).ready(function() {

                $('#MyTable').DataTable({
                    initComplete: function() {
                        this.api().columns().every(function() {
                            var column = this;

                        });
                    },
                    "ordering": false,
                });
            });
        </script>
        <%- include('./includes/end.ejs') %>