<%- include('./includes/head.ejs') %>


    <div class="container-fluid">

        <!-- Page Heading -->


        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                Utility bill
                <%if(individual){%>
                    of
                    <%=id%>
                        <%if(currentuser.isadminlogged){%>
                            <a href="/deleteutilitycomplete/<%=id%>" style="color: black;" onclick="return confirm('Are you sure?')"> <i class="fas fa-fw fa-trash"></i></a>
                            <%}%>
                                <%}%>
            </h1>

            <h6>

                From
                <%=moment(start).format( 'DD-MM-YYYY')%> to
                    <%=moment(end).format( 'DD-MM-YYYY')%>

            </h6>
        </div>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <%if(individual){%> <a class=" btn btn-danger" href="/utility">Complete Utility</a>
                    <%}%>
                        <a class="float-right btn btn-danger ml-2" href="" href="" data-toggle="modal" data-target="#filtermodel">Filter</a>
                        <br>
                        <br>
                        <form action="" method="GET" id="checkword">
                            <div id="inputFormRow" class="form-group row">


                                <div class="col-sm-12 mb-3 mb-sm-0 input-group" id="seller_buyer">
                                    <select class="form-control form-control-user js-example-basic-single" id="list_sellers" onchange="check_user()">
                                <option value="">Search names</option>
                                <%for(let docs of utitlity){%>
                                    <option value="<%=docs%>"><%=docs%></option>
                                  <%}%>
                             </select>

                                    <div class="input-group-append">
                                        <input type="submit" class="btn btn-primary" value="Search Loari"></input>
                                    </div>
                                </div>

                            </div>
                        </form>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table " width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>date</th>
                                <%if(!individual){%>
                                    <th>Bill to</th>
                                    <%}%>
                                        <th>Amount</th>
                                        <th>Hint</th>
                                        <th>Edit</th>

                            </tr>
                        </thead>
                        <tbody>
                            <form id="utility" action="/utilityform" method="POST">
                                <tr>
                                    <td><input required tabindex="1" name="date" class="form-control" type="date" value="<%=todaydate%>" id=""></td>
                                    <%if(!individual){%>
                                        <td><input required autofocus class="p-1 form-control" style="width: 200px;" tabIndex="2" type="text" name="billto" autocomplete="off" list="utilitynames" id=""></td>
                                        <datalist id="utilitynames">
                                            <%for(let docs of utitlity){%>
                                            <option value="<%=docs%>">
                                          <%}%>
                                        </datalist>
                                        <%}else{%> <input type="hidden" name="type" value="individual">
                                            <input type="hidden" name="billto" value="<%=id%>">
                                            <%}%>
                                                <td><input autofocus required class="form-control" tabIndex="3" type="number" step=".01" name="amount" style="width: 125px;"></td>
                                                <td>
                                                    <input class="p-1 form-control" style="width: 200px;" tabIndex="4" type="text" name="payment" id=""></td>


                                                <td><button form="utility" tabIndex="5" class="btn btn-primary" id="submit" type="submit">Submit</button>
                                                    <div id="button-spinner" style="margin-left: 10px; width: 25px; height: 25px; display: none" class="spinner-border"></div>
                                                </td>

                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <%if(!individual){%>
                                    <th>Bill to</th>
                                    <%}%>
                                        <th>Amount</th>
                                        <th>Hint</th>
                                        <th>Edit</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>

                                <%if(!individual){%>
                                    <th>Date</th>
                                    <th>Total amount </th>
                                    <th colspan="2" id="total" class="badge-info">

                                    </th>

                                    <%}else{%>
                                        <th>Total amount </th>
                                        <th colspan="2" id="total" class="badge-info">

                                        </th>
                                        <%}%>
                                            <th>Edit</th>

                            </tr>
                        </tfoot>
                        <tbody>

                            <%
                            var total = 0;
                            for(var i=0; i < docs.length; i++){
                                total = parseInt(total+docs[i].detail.amount)
                                %>
                                <tr>
                                    <td>
                                        <%= moment(docs[i].detail.date).format( 'DD-MMM-YYYY') %>

                                    </td>
                                    <%if(!individual){%>
                                        <td>
                                            <a href="/indivual_utility/<%=docs[i].name%>">
                                                <%=docs[i].name%>
                                            </a>
                                        </td>
                                        <%}%>

                                            <td>
                                                <%=docs[i].detail.amount%>
                                            </td>
                                            <td>
                                                <%=docs[i].detail.payment%>
                                            </td>
                                            <%if(!individual){%>
                                                <td><a href="/deleteutility/<%=docs[i].name%>/<%=docs[i].detail._id%>/all" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                <%}else{%>
                                                    <td><a href="/deleteutility/<%=docs[i].name%>/<%=docs[i].detail._id%>/individual" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a></td>
                                                    <%}%>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="filtermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filter dates</h5>
                    <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <form id="form1" action="<%if(individual){%>/filterindividualutility<%}else{%>/filterutility<%}%>" method="POST">
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">From date</label>
                                <input type="date" value="<%=todaydate%>" class="form-control form-control-user" id="exampleFirstName" name="sdate" placeholder="Date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">To date</label>
                                <input type="date" value="<%=todaydate%>" name="edate" class="form-control form-control-user" id="exampleFirstName" placeholder="Date">
                            </div>


                        </div>

                        <%if(individual){%>
                            <input type="hidden" name="id" value="<%=id%>">
                            <%}%>
                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" form="form1">Apply filter</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({

                "ordering": false,

            });
            total = <%=total%>;
            document.getElementById('total').innerHTML = total.toLocaleString();
            $('#submit').click(function() {
                $('#submit').hide();
                $('#button-spinner').show();

            });
        });

        function check_user() {
            var st = document.getElementById("list_sellers").value;

            if (!st) {

            } else {

                var x = document.getElementById("checkword")
                x.action = "/indivual_utility/" + st
            }
        }
    </script>
    <%- include('./includes/end.ejs') %>